# Project exclude paths
/.gradle/
/Problems/Execute Callable objects/out/
/Problems/Execute Callable objects/out/production/classes/
/Web Crawler/task/build/
/Web Crawler/task/out/
/Web Crawler/task/out/production/classes/